.bglog {
    background: url('/assets/images/bg_global.gif');
    background-repeat: repeat;
    background-size: 100px;
    background-position: center;
    background-color: rgb(230, 230, 230, 0.1);
    border: 1px dotted #eee;
    cursor: pointer;
    box-sizing: border-box;
  }