<!--
<div class="row justify-content-center align-items-center" style="height: 100%;" >
    <div class="col-md-3">
        <table style="width: 100%;" >
            <tr>
                <td class="col-md-12 title-login" >
                    <div class="row">
                        <div class="col-md-6" style="text-align: right;">
                            <img [src]="logo" width="40px" alt="">
                        </div>
                        <div class="col-md-6" style="text-align: left;padding:0px ; padding-top: 1.6%;" >
                            E.SIGN
                        </div>
                    </div>
                  
                    
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <mat-form-field style="width: 100%;"  class="">
                        <mat-label>Login</mat-label>
                        <input 
                        matInput 
                        style="padding: 0;"
                        name="username"
                        [(ngModel)]="user.username"
                        autocomplete="off"
                        required
                        > 
                    </mat-form-field>
                </td>
            </tr>

            <tr>
                <td>
                    <mat-form-field style="width: 100%;"  class="">
                        <mat-label>Mot de passe</mat-label>
                        <input 
                        matInput 
                        type="password"
                        style="padding: 0;"
                        name="password"
                        [(ngModel)]="user.password"
                        required
                        > 
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align: right;" >
                    <button class="btn afb-btn" (click)="login()" >
                        Se connecter
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>

-->

<div class="bg-blueGray-900 container mx-auto px-4 h-full">
    <div class="flex content-center items-center justify-center h-full">
      <div class="w-full lg:w-4/12 px-4">
        <div
          class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0"
        >
          <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
           
            <form>
                <div class="w-full mb-3 mt-3 flex justify-center">
                    <div style="text-align: center;">
                        <img [src]="logo" width="" alt="">
                    </div>
                    <!--<div class="w-full" style="text-align: left;padding:0px ; padding-top: 1.6%;" >
                        E.SIGN
                    </div>-->
                </div>
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                Login
                </label>
                <input
                  type="email"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  placeholder="Login"  name="username" 
                  [(ngModel)]="user.username" 
                  autocomplete="off" 
                  required 
                />
              </div>
  
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                   Mot de passe
                </label>
                <input
                  type="password"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  placeholder="Mot de passe"  [(ngModel)]="user.password" required  name="password" 
                />
              </div>
              <div class="text-center mt-6">
                <button
                  class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                  type="button" (click)="login()"
                >
                   Se connecter
                </button>
              </div>
            </form>
          </div>
        </div>
    
      </div>
    </div>
   <!-- <router-outlet></router-outlet>-->
  </div>
  