

<div class="relative bg-red-800 md:pt-0 pb-12 pt-12">
    
  
  <nav
  class="absolute top-0 left-0 w-full z-10 md:flex-row md:flex-nowrap justify-start flex items-center p-2"
>
  <div
    class="w-full mx-auto items-center flex justify-between md:flex-nowrap flex-wrap md:px-10 px-4"
  >
    <a
      class="text-white text-sm uppercase hidden lg:inline-block font-semibold"
      href=""
    >
    <img
              src="{{logoPath}}"
              class="h-16 w-auto bg-white rounded border"
              alt="..."
            />
      
    </a>
  </div>
</nav>
  <div class="px-4 md:px-10 w-full">
        <div>
            <div class="mr-1 w-full flex flex-nowrap px-4 pt-2 text-white justify-end">
                <i class="fa fa-user-circle-o" style="font-size:24px" aria-hidden="true"></i>&nbsp;&nbsp;<span class="text-white italic text-xs"><h6>Bienvenue {{userLogin}}</h6></span>
            </div>
            
        </div>
    </div>
</div>
