<!--
<app-admin></app-admin>
<app-body></app-body>
-->

<div class="row body flex justify-center" 
style="font-size: 12px !important; 
font: 1.2em/1.583em Arial, Helvetica, sans-serif;
background-color: rgb(243, 242, 242); 
width: 100%; min-height:450px; margin-bottom: 2%; padding-bottom: 2%;
padding-left: 10px; padding-right: 10px; padding-top: 1%;
"  
>



<!--<div class="relative">-->
    <app-admin></app-admin>
    <div class="mt-8 back">
      <!--<div class="relative md:ml-64 bg-blueGray-100 bgimg">-->
      <div class=" mt-8 w-full">
        <app-body></app-body>
      </div>
    
    </div>
   
        <!--<app-footer></app-footer>-->
   
<!--</div>-->

</div>